# CONECTAR CON MYSQL

In [5]:
import mysql.connector

In [6]:
personas_db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'F5003F5003',
    database = 'personas_db'
)

## Ejecutar la sentencia select

In [7]:
# crearemos una variable para ejecutar comandos de SQL
cursor = personas_db.cursor()

cursor.execute('SELECT * FROM personas');
resultado = cursor.fetchall() # almacenamos todos los registros en 'resultado'

# Con esto iteramos

for persona in resultado: # lo que nos devolverá 'persona' es una tupla por cada registro
    print(persona)

(1, 'Luis', 'Bizarro', 20)
(3, '', 'Bizarro', 20)
(4, 'Luis', 'Bizarro', 20)
(5, 'Marta', 'Diaz', 20)
(6, 'Juana', 'Vargas', 22)
(7, 'Luis', 'Dominguez', 19)

Cerramos los objetos

In [8]:
cursor.close()
personas_db.close()

# INSERTAR UN REGISTRO

In [9]:
personas_db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'F5003F5003',
    database = 'personas_db'
)

(%s,%s,%s) será reemplazado por 'valores' y luego se asociará respectivamente con (nombre,apellido,edad)

In [10]:
cursor = personas_db.cursor()
sentencia_sql = 'INSERT INTO personas(nombre, apellido, edad) VALUES (%s,%s,%s)'
valores = ('Luis','Ugarte',45)

#pasamos los valores
cursor.execute(sentencia_sql,valores)

personas_db.commit() #Guardamos los cambios en la base de datos 

print(f'Se ha agregado el nuevo registro a la base de datos {valores}')

Se ha agregado el nuevo registro a la base de datos ('Luis', 'Ugarte', 45)

NO OLVIDES CERRAR LOS OBJETOS DE CONEXION PARA QUE NO GENERE ERRORES

In [11]:
cursor.close()
personas_db.close()

# ACTUALIZAR REGISTRO (UPDATE)

In [12]:
personas_db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'F5003F5003',
    database = 'personas_db'
)

In [13]:
cursor = personas_db.cursor()

In [14]:
sentencia_sql = 'UPDATE personas SET nombre = %s, apellido = %s, edad = %s WHERE id = %s'
valores = ('Victoria', 'Flores', 55, 8)

cursor.execute(sentencia_sql,valores)
personas_db.commit()

print('Se ha modificado la informacion')

Se ha modificado la informacion

In [15]:
cursor.close()
personas_db.close()

# ELIMINAR UN REGISTRO (DELETE)

In [16]:
personas_db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'F5003F5003',
    database = 'personas_db'
)

In [17]:
cursor = personas_db.cursor()

Ejecutar sentencia delete

In [19]:
sentencia_sql = 'DELETE from personas WHERE id = %s'
valores=(5,) # Como hay un solo elemento, no se considera tupla asi que debemos colocarle la coma al final para que funcione

cursor.execute(sentencia_sql,valores)
personas_db.commit()

print('SE HA ELIMINADO EL REGISRO')

SE HA ELIMINADO EL REGISRO

In [20]:
cursor.close()
personas_db.close()